<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305195915709-dt18m02jd0e0kqkq3n4e2jqgot6dnvag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305195915709-dt18m02jd0e0kqkq3n4e2jqgot6dnvag</string>
	<key>API_KEY</key>
	<string>AIzaSyDamiS-SqQ7Gw1jn0v0hcHCAbhBtCmijKs</string>
	<key>GCM_SENDER_ID</key>
	<string>305195915709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agnieszkaklis.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait88</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305195915709:ios:b57eb921e09c3082e45ad4</string>
</dict>
</plist>